# Clases creadas durante la ejecución
*.class

# Carpeta creada durante la ejecución de proyectos en Kotlin
*/out/

# Carpeta de configuración de AS
*/.idea

# Archivo de configuración para firebase
**/google-services.json
